/* .Axis path,
.Axis line {
  stroke: #e2e0e0;
} */
/*
.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
} */
/* 
path {
  stroke: red;
  stroke-width: 2;
  fill: none;
} */
